#content {
	margin-left: 0px;
	min-height: 250px;
	padding: 15px;
	background-color: #fff;
  	-webkit-border-radius: 6px;
  	-moz-border-radius: 6px;
  	border-radius: 6px;
  	-webkit-box-shadow: 0 1px 4px rgba(0,0,0,.065);
  	-moz-box-shadow: 0 1px 4px rgba(0,0,0,.065);
  	box-shadow: 0 1px 4px rgba(0,0,0,.065);
}

img {
  width: auto\9;
  height: auto\9;
  max-width: 100%;
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}


.row-fluid {
	width: 100%;
}
.row-fluid .span6 {
  width: 28.717948717948715%;
}

.row-fluid [class*="span"] {

	display: block;
	float: left;
	width: 46%;
	min-height: 31px;
	margin-left: 2.127659574468085%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.content-tab1 {
  border-top-color: #e46f61;
}

.content-panels {
  padding: 20px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 2px #c4c4c4;
  box-shadow: 0 1px 2px #c4c4c4;
  background-color: #fff;
  border-top: 5px solid #fff;
  margin-bottom: 30px;
  min-height: 400px;
}

.btn-success {
	background-color: #3fcf7f;
	border-color: #fff;
}

.btn-warning {
	background-color: #f4a425;
	border-color: #fff;
}

.btn {
  color: #fff;
  text-decoration: none;
  text-shadow: none;
  background-image: none;
  /*border: none; */
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  transition: 0.25s; 
  
  
}


h4 {
  font-size: 24px;
  font-weight: 500;
}


h4 {
  font-size: 18.75px;
}
h1, h2, h3, h4, h5, h6 {
  margin: 10.5px 0;
  font-family: inherit;
  font-weight: bold;
  line-height: 21px;
  color: inherit;
  text-rendering: optimizelegibility;
}

h5 {
  display: block;
  -webkit-margin-before: 1.33em;
  -webkit-margin-after: 1.33em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  margin-top: 2px;
}

.basic-info ul {
  float: left;
}

ul, menu, dir {
  display: block;
  list-style-type: disc;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 40px;
}

ul, ol {
  padding: 0;
  margin: 0 0 10.5px 25px;
}

.basic-info ul li {
  list-style: none;
}

li {
  line-height: 21px;
}
